<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-12">
            <ng-container [ngSwitch]="errorCode">
                <div class="text-center mt-5 pt-5" *ngSwitchCase="404">
                    <img class="w-10 mt-5 mb-0" src="assets/error-404.svg" alt="404 Not Found!" />
                    <h3 class="text-center mb-1">Not Found</h3>
                    <p class="text-center">
                        The requested resource could not be found on this server!
                    </p>
                </div>
                <div class="text-center mt-5 pt-5" *ngSwitchCase="403">
                    <img class="w-10 mt-5 mb-0" src="assets/error-403.svg" alt="403 Forbidden!" />
                    <h3 class="text-center mb-1">Forbidden</h3>
                    <p class="text-center">You don't have permission to access on this server!</p>
                </div>
                <div class="text-center mt-5 pt-5" *ngSwitchCase="401">
                    <img
                        class="w-10 mt-5 mb-0"
                        src="assets/error-401.svg"
                        alt="401 Unauthorized!"
                    />
                    <h3 class="text-center mb-1">Unauthorized</h3>
                    <p class="text-center">The requested cannot be processed!</p>
                </div>
                <div class="text-center mt-5 pt-5" *ngSwitchDefault>
                    <img
                        class="w-10 mt-5 mb-0"
                        src="assets/error-unknown.svg"
                        alt="Unknown error!"
                    />
                    <h3 class="text-center mb-1">Unknown error</h3>
                    <p class="text-center">Sorry, something went wrong!</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>
