registry=https://registry.npmjs.org/
@bds:registry=https://pkgs.dev.azure.com/bourque/_packaging/bourque-nuget/npm/registry/
always-auth=true
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=4EE1B7D6-5FA6-43FB-B9AA-635ABAE0816D
